@import "null.scss";
@import "variables/global.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: var(--font-family-main);
  font-size: var(--font-m);

  background-color: var(--bg-color);
  color: var(--primary-color);
}

.p-multiselect-item {
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.p-checkbox-box {
  display: none;
}
